{% extends 'base.html' %}

{% load static %}

{% block title %}
User Coupons
{% endblock title %}

{% block content %}
<div class="container">
    {% block breadcrumb %}
    <ol class="flex space-x-2 py-2 px-5">
        <li><a href="{% url 'home:home' %}" class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Home</a></li>
        <li><a href="{% url 'account:dashboard' %}" class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Dashboard</a></li>
        <li class="text-purple-700" aria-current="page"><a href="{% url 'account:coupons' %}">Coupons</a></li>
    </ol>
    {% endblock breadcrumb %}
</div>

<div class="flex container">
    {% include 'accounts/user/user_sidebar.html' %}
    <div class="block w-full mx-auto pl-3 pr-5 mt-16">
        <div
            class="relative flex flex-col min-w-0 mb-4 lg:mb-0 break-words bg-gray-100 dark:bg-gray-800 w-full shadow-lg rounded">
            <div class="rounded-t mb-0 px-0 border-0">
                <div class="flex flex-wrap items-center px-4 py-2">
                    <div class="relative w-full max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base text-gray-900 dark:text-white">My Coupons</h3>
                    </div>
                </div>
                <div class="block w-full overflow-x-auto">
                    <table class="items-center w-full bg-transparent border-collapse">
                        <thead>
                            <tr>
                                <th
                                    class="px-2 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Coupon ID</th>
                                <th
                                    class="px-2 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Coupon Code</th>
                                <th
                                    class="px-2 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Discount</th>
                                <th
                                    class="px-2 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Active</th>
                                <th
                                    class="px-2 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coupon in coupons %}
                            <tr class="text-gray-700 dark:text-gray-100">
                                <td
                                    class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ coupon.id }}</td>
                                <td
                                    class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"><span class="p-2 bg-gray-600 text-white rounded-lg">{{ coupon.code }}</span></td>
                                <td
                                    class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ coupon.discount }} %</td>

                                    {% if coupon.active %}
                                <td class="border-t-0 px-4rounded-xl align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">✅</td>
                                {% else %}
                                <td class="border-t-0 px-4 text-red-500 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">🚫</td>
                                {% endif %}
                                <td
                                    class="border-t-0 border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                    <div class="flex flex-col gap-3">
                                        <a href="{% url 'account:remove_coupon' coupon.id %}" class="font-medium text-red-600 dark:text-red-500 mr-2 hover:underline">Remove</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% block footer %}{% endblock footer %}
{% endblock content %}