{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Blog | BroCommerce
{% endblock title %}

{% block content %}
<div class="text-gray-900 pt-12 pr-0 pb-14 pl-0 bg-white">
    <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16
        max-w-7xl">
        <div class="flex flex-col items-center sm:px-5 md:flex-row">
            <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
                <div class="flex flex-col items-start justify-center h-full space-y-3 transform md:pr-10 lg:pr-16
              md:space-y-5">
                    <div class="bg-green-500 flex items-center leading-none rounded-full text-gray-50 pt-1.5 pr-3 pb-1.5 pl-2
                uppercase inline-block">
                        <p class="inline">
                            <svg class="w-3.5 h-3.5 mr-1" fill="currentColor" viewbox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0
                    00.95.690h3.462c.969 0 1.371 1.24.588 1.810l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755
                    1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.570-1.838-.197-1.539-1.118l1.07-3.292a1 1
                    0 00-.364-1.118L2.980 8.720c-.783-.570-.380-1.810.588-1.810h3.461a1 1 0 00.951-.690l1.07-3.292z" />
                            </svg>
                        </p>
                        <p class="inline text-xs font-medium">New</p>
                    </div>
                    <a class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">Exploring the World of Literature</a>
                    <div class="pt-2 pr-0 pb-0 pl-0">
                        <p class="text-sm font-medium inline">Author:</p>
                        <a class="inline text-sm font-medium mt-0 mr-1 mb-0 ml-1 underline">John Doe</a>
                        <p class="inline text-sm font-medium mt-0 mr-1 mb-0 ml-1">· 12th, October 2023 ·</p>
                        <p class="text-gray-200 text-sm font-medium inline mt-0 mr-1 mb-0 ml-1">5 min. read</p>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="block">
                    <img src="{% static 'images/the art of war.jpg' %}" alt="Blog Image"
                        class="object-cover rounded-lg max-h-64 sm:max-h-96" />
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 sm:px-5 gap-x-8 gap-y-16">
            <div class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4">
                <img src="{% static 'images/48 laws of power.jpg' %}" alt="Blog Image 1"
                    class="object-cover mb-2 overflow-hidden rounded-lg shadow-sm max-h-56 btn-" />
                <p class="bg-green-500 flex items-center leading-none text-sm font-medium text-gray-50 pt-1.5 pr-3 pb-1.5 pl-3
              rounded-full uppercase inline-block">Entertainment</p>
                <a class="text-lg font-bold sm:text-xl md:text-2xl">The Power of a Good Book</a>
                <p class="text-sm text-black">Dive into the world of literature and discover how books can change lives.</p>
                <div class="pt-2 pr-0 pb-0 pl-0">
                    <a class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-0 underline">John Doe</a>
                    <p class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-1">· 15th, October 2023 ·</p>
                    <p class="inline text-xs font-medium text-gray-300 mt-0 mr-1 mb-0 ml-1">4 min. read</p>
                </div>
            </div>
            <div class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4">
                <img src="{% static 'images/oscar wilde.jpg' %}" alt="Blog Image 2"
                    class="object-cover mb-2 overflow-hidden rounded-lg shadow-sm max-h-56 btn-" />
                <p class="bg-green-500 flex items-center leading-none text-sm font-medium text-gray-50 pt-1.5 pr-3 pb-1.5 pl-3
              rounded-full uppercase inline-block">Entertainment</p>
                <a class="text-lg font-bold sm:text-xl md:text-2xl">The Joy of Reading</a>
                <p class="text-sm text-black">Discover the simple pleasure of reading and how it can enrich your life.</p>
                <div class="pt-2 pr-0 pb-0 pl-0">
                    <a class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-0 underline">John Doe</a>
                    <p class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-1">· 20th, October 2023 ·</p>
                    <p class="inline text-xs font-medium text-gray-300 mt-0 mr-1 mb-0 ml-1">6 min. read</p>
                </div>
            </div>
            <div class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4">
                <img src="{% static 'images/do it today.jpg' %}" alt="Blog Image 3"
                    class="object-cover mb-2 overflow-hidden rounded-lg shadow-sm max-h-56 btn-" />
                <p class="bg-green-500 flex items-center leading-none text-sm font-medium text-gray-50 pt-1.5 pr-3 pb-1.5 pl-3
              rounded-full uppercase inline-block">Entertainment</p>
                <a class="text-lg font-bold sm:text-xl md:text-2xl">Unlocking the World of Imagination</a>
                <p class="text-sm text-black">See how the power of imagination can transform your reading experience.</p>
                <div class="pt-2 pr-0 pb-0 pl-0">
                    <a class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-0 underline">John Doe</a>
                    <p class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-1">· 25th, October 2023 ·</p>
                    <p class="inline text-xs font-medium text-gray-300 mt-0 mr-1 mb-0 ml-1">5 min. read</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
