{% load static %}
<header class="w-full mt-0 justify-center items-center text-gray-700 bg-white border-t border-gray-100 shadow-sm body-font">
    <div class="container mx-auto flex flex-col items-center justify-between p-6 md:flex-row gap-10">
        <a href="{% url 'home:home' %}" class="flex items-center mb-4 gap-x-2 font-medium text-gray-900 text-lg title-font md:mb-0">
            <img src="{% static 'images/read-book-dark-icon.svg' %}" alt="LOGO">
            BroCommerce
        </a>
        <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto">
            <a href="{% url 'home:home' %}" class="mr-5 p-2 font-medium rounded-xl transition ease-in-out delay-100 hover:text-gray-800 hover:bg-gray-100">Home</a>
            <a href="{% url 'home:about' %}" class="mr-5 p-2 font-medium rounded-xl transition ease-in-out delay-100 hover:text-gray-800 hover:bg-gray-100">About</a>
            <a href="{% url 'home:blog' %}" class="mr-5 p-2 font-medium rounded-xl transition ease-in-out delay-100 hover:text-gray-800 hover:bg-gray-100">Blog</a>
            <a href="{% url 'home:contact' %}" class="p-2 font-medium rounded-xl transition ease-in-out delay-100 hover:text-gray-800 hover:bg-gray-100">Contact</a>
        </nav>
        
        {% if request.user.is_authenticated %}
        <div class="items-center h-full">
            <a href="{% url 'App:all_products' %}" class="mr-5 font-medium hover:text-gray-900">Shop</a>
            <a href="{% url 'account:dashboard' %}" class="px-4 py-2 text-xs font-bold text-white uppercase transition-all duration-150 bg-indigo-500 rounded shadow outline-none active:bg-indigo-600 hover:shadow-md focus:outline-none ease">
                Dashboard
            </a>
        </div>
        {% else %}
        <div class="items-center h-full">
            <a href="{% url 'account:login' %}" class="mr-5 font-medium hover:text-gray-900">Login</a>
            <a href="{% url 'account:register' %}" class="px-4 py-2 text-xs font-bold text-white uppercase transition-all duration-150 bg-indigo-500 rounded shadow outline-none active:bg-indigo-600 hover:shadow-md focus:outline-none ease">
                Sign Up
            </a>
        </div>
        {% endif %}
    </div>
</header>