{% extends 'base.html' %}

{% block title %}
    Activation Invalid
{% endblock title  %}

{% block content %}
<div class="p-10">
    <div class="max-w-lg p-10 mx-auto mt-12 shadow-xl py-10">
        <h1 class="text-center text-2xl font-semibold">User validation failed. Try again later!</h1>
        <div class="flex p-2 mt-7 border-2 border-gray-300 w-1/2 ml-24 justify-center rounded-xl bg-indigo-500 hover:bg-indigo-600">
            <a href="#" class="text-white hover:text-white-600">Click here to login</a>
        </div>
    </div>
</div>
{% endblock content %}
