{% extends 'base.html' %}

{% block title %}
    Password Reset Done
{% endblock title %}
    
{% block content %}
<div class="p-10">
    <div class="max-w-lg p-10 mx-auto mt-12 shadow-xl py-10">
        <h1 class="text-lg font-semibold">We have send you an email to confirm your password reset.</h1>
        <div class="flex p-2 mt-7 border-2 border-indigo-400 w-1/3 justify-center rounded-full bg-indigo-400 hover:bg-indigo-500">
            <a href="#" class="text-white font-semibold">Back to login</a>
        </div>
    </div>
</div>
{% endblock content %}
