{% extends 'base.html' %}

{% load tailwind_filters %}

{% block title %}
    Confirm Password
{% endblock title %}

{% block content %}
<div class="max-w-lg mx-auto mt-12">

    <h3 class="text-center text-3xl font-bold m-10">Enter your new password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="flex flex-col mt-7">    
            <button type="submit" class="w-full bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-xl text-white font-semibold">Confirm</button>
            <br />
            <a href="{% url 'App:all_products' %}" class="text-center hover:text-indigo-600">Back</a>
        </div>
        <br />
    </form>
</div>
{% endblock content %}
