{% extends 'base.html' %}

{% load static %}

{% block title %}
Delivery Address
{% endblock title %}

{% block content %}
<div class="container hidden md:block">
    {% block breadcrumb %}
    <ol class="flex space-x-2 py-2 px-5">
        <li><a href="{% url 'home:home' %}"
                class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Home</a></li>
        <li><a href="{% url 'App:all_products' %}"
                class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Shop</a></li>
        <li><a href="{% url 'cart:view_cart' %}"
                class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Cart</a></li>
        <li><a href="{% url 'checkout:delivery_choices' %}"
                class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Delivery choices</a></li>
        <li><a href="{% url 'checkout:delivery_address' %}"
                class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Delivery Address</a></li>
        <li><a href="{% url 'checkout:payment_selection' %}"
                class="after:content-['/'] after:ml-2 text-gray-600 hover:text-purple-700">Payment</a></li>
        <li class="text-purple-700" aria-current="page"><a href="{% url 'checkout:payment_successful' %}">Successful
                Payment</a>
        </li>
    </ol>
    {% endblock breadcrumb %}
</div>

<div class="relative flex flex-col justify-center overflow-hidden bg-white p-6 sm:p-12">
    <div class="mx-auto max-w-4xl rounded-3xl bg-violet-500 p-8 sm:p-16 text-center rounded-xl">
        <svg viewBox="0 0 24 24" class="text-green-600 w-12 h-12 mx-auto my-6 sm:w-20 sm:h-20">
            <path fill="#fff" d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
            </path>
        </svg>
        <h2 class="text-2xl sm:text-5xl font-bold leading-tight text-white">Payment Successful</h2>
        <p class="mt-3 text-base sm:text-xl leading-6 text-white">Thank you for your payment. Your order has been successfully processed.</p>
        <div class="mt-6 flex flex-col sm:flex-row items-center justify-center gap-4">
            <a href="{% url 'account:user_orders' %}" class="flex items-center justify-center gap-2 rounded-full border border-white/50 bg-white px-4 sm:px-5 py-2 sm:py-3 text-base sm:text-lg font-medium text-dark hover:bg-white hover:scale-105">
                <span>View Orders</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M6.00156 13.4016L4.60156 12.0016L8.60156 8.00156L4.60156 4.00156L6.00156 2.60156L11.4016 8.00156L6.00156 13.4016Z" fill="#000" />
                    </svg>
                </span>
            </a>
            <a href="{% url 'account:dashboard' %}" class="mt-3 sm:mt-0 flex items-center justify-center gap-2 rounded-full border border-white/50 px-4 sm:px-5 py-2 sm:py-3 text-base sm:text-lg font-medium text-white hover:scale-105">
                <span>Dashboard</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M6.00156 13.4016L4.60156 12.0016L8.60156 8.00156L4.60156 4.00156L6.00156 2.60156L11.4016 8.00156L6.00156 13.4016Z" fill="white" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>


{% endblock content %}