{% extends 'shopadmin/shopadmin_base.html' %}

{% load static %}

{% block title %}
Products | BroCommerce Admin
{% endblock title %}

{% block content %}
<div x-data="setup()" :class="{ 'dark': isDark }">
    <div
        class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
        <!-- Header -->
        {% include 'shopadmin/header.html' %}
        <!-- Sidebar -->
        {% include 'shopadmin/sidebar.html' %}

        <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
                <div class="flex items-center justify-between p-5 bg-white dark:bg-gray-700">
                    <label for="table-search" class="sr-only">Search</label>
                    <form class="w-1/3 mr-3" action="{% url 'shopadmin:search' %}" method="post">
                        {% csrf_token %}
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input type="search" name="search" id="search"
                                class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="{% if query %}{{ query }}{% else %}Search for products{% endif %}">
                            <button type="submit" hidden class="text-gray-900 dark:text-white absolute top-0 right-0 bg-gray-500 hover:text-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm p-2 bg-white dark:bg-gray-700 hover:bg-gray-500 light:focus:ring-gray-600">
                                Search
                            </button>
                        </div>
                    </form>
                    <form method="get" class="sorting-form flex items-center justify-end mx-10">
                        <label for="sort" class="mr-2">Sort by:</label>
                        <div class="relative">
                            <select name="sort" id="sort" onchange="this.form.submit()"  id="products" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="default" {% if sort_param == 'default' %}selected{% endif %}>Default</option>
                                <option value="title" {% if sort_param == 'title' %}selected{% endif %}>Title</option>
                                <option value="price" {% if sort_param == 'price' %}selected{% endif %}>Price</option>
                                <option value="publication_date" {% if sort_param == 'publication_date' %}selected{% endif %}>Publication Date</option>
                            </select>
                        </div>
                    </form>
                </div>

                <!-- Products Table -->
                <div class="mt-4 mx-4">
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <div class="flex flex-wrap px-4 py-2 bg-gray-200 dark:bg-gray-900">
                                <div class="relative w-full max-w-full flex-grow flex-1">
                                    <h3 class="font-semibold text-base text-2xl text-gray-800 dark:text-white">Products</h3>
                                </div>
                                <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                                    <button
                                        class="bg-blue-500 dark:bg-blue-100 text-white active:bg-blue-600 dark:text-white dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                        type="button"><a href="{% url 'shopadmin:add_product' %}"> Add Product</a></button>
                                </div>
                            </div>
                            <table class="w-full">
                                <thead>
                                    <tr
                                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3">Product</th>
                                        <th class="px-4 py-3">Product Type</th>
                                        <th class="px-4 py-3">Price</th>
                                        <th class="px-4 py-3">Discount Price</th>
                                        <th class="px-4 py-3">Stock</th>
                                        <th class="px-4 py-3">is_active</th>
                                        <th class="px-4 py-3">Created at</th>
                                        <th class="px-4 py-3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    
                                    {% for product in products %}
                                    <tr
                                        class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3">
                                            <div class="flex items-center text-sm">
                                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                                    <img class="object-cover w-full h-full rounded-full"
                                                    src="{{ product.cover_image.url }}"
                                                    alt="User Profile" loading="lazy" />
                                                    <div class="absolute inset-0 rounded-full shadow-inner"
                                                    aria-hidden="true"></div>
                                                </div>
                                                <div>
                                                    <p class="font-semibold">{{ product.title|slice:30 }} ...</p>
                                                    <p class="text-xs text-gray-600 dark:text-gray-400">{{ product.category.name }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-4 py-3 text-sm">{{ product.product_type.name }}</td>
                                        <td class="px-4 py-3 text-sm">$ {{ product.regular_price }}</td>
                                        <td class="px-4 py-3 text-sm">$ {{ product.discount_price }}</td>
                                        <td class="px-4 py-3 text-sm">{{ product.product_stock }}</td>
                                        <td class="px-4 py-3 text-sm">{{ product.is_active }}</td>
                                        <td class="px-4 py-3 text-sm">{{ product.created_at|date:'F d, Y' }}</td>
                                        <td class="px-4 py-3 text-sm">
                                            <div class="flex items-center flex-col">
                                                <a href="{% url 'shopadmin:edit_product' product.id %}" class="font-medium text-yellow-600 dark:text-yellow-500 mr-2 hover:underline">Edit Product</a>
                                                <a href="{% url 'shopadmin:edit_product_images' product.id %}" class="font-medium text-yellow-600 dark:text-yellow-500 mr-2 hover:underline">Edit Images</a>
                                                <a href="{% url 'shopadmin:edit_specification_values' product.id %}" class="font-medium text-yellow-600 dark:text-yellow-500 mr-2 hover:underline">Edit specifications</a>
                                                
                                                {% if product.on_sale %}
                                                <a href="{% url 'shopadmin:edit_product_offer' product.id %}" class="font-medium text-yellow-600 dark:text-yellow-500 mr-2 hover:underline">Edit Product Offer</a>
                                                {% endif %}
                                                {% if product.is_active %}
                                                <a href="{% url 'shopadmin:activate_or_deactivate_product' product.id %}" class="font-medium text-red-600 dark:text-red-500 mr-2 hover:underline">
                                                    Deactivate
                                                </a>
                                                {% else %}
                                                <a href="{% url 'shopadmin:activate_or_deactivate_product' product.id %}" class="font-medium text-blue-600 dark:text-blue-500 mr-2 hover:underline">
                                                    Activate
                                                </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ./Products Table -->

                {% if products %}   
                <nav class="flex items-center justify-between pt-4 pb-4 m-10" aria-label="Table navigation">
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing Page <span
                            class="font-semibold text-gray-900 dark:text-white">{{ products.number }} </span> of <span
                            class="font-semibold text-gray-900 dark:text-white">{{ products.paginator.num_pages }}</span></span>
                    <ul class="inline-flex -space-x-px text-sm h-8">
                        {% if products.has_previous %}
                        <li>
                            <a href="?page=1"
                                class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First
                            </a>
                        </li>
                        <li>
                            <a href="?page={{ products.previous_page_number }}"
                                class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous
                            </a>
                        </li>
                        {% endif %}
                        <!-- <li>
                            <span href="#" class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ products.number }}</span>
                        </li> -->
                        <li>
                            <a href="#" aria-current="page"
                                class="flex items-center justify-center px-3 mx-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 rounded-full hover:text-blue-700 dark:border-gray-700 dark:bg-indigo-500  dark:text-white">{{ products.number }}</a>
                        </li>
                        <!--- <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                        </li>
                        <li>
                            <a href="#" aria-current="page"
                                class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                        </li> -->
                        {% if products.has_next %}
                        <li>
                            <a href="?page={{ products.next_page_number }}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next
                            </a>
                        </li>
                        <li>
                            <a href="?page={{ products.paginator.num_pages }}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    const setup = () => {
        const getTheme = () => {
            if (window.localStorage.getItem('dark')) {
                return JSON.parse(window.localStorage.getItem('dark'))
            }
            return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
            window.localStorage.setItem('dark', value)
        }

        return {
            loading: true,
            isDark: getTheme(),
            toggleTheme() {
                this.isDark = !this.isDark
                setTheme(this.isDark)
            },
        }
    }
</script>
{% endblock content %}