{% extends 'shopadmin/shopadmin_base.html' %}

{% load static %}

{% block title %}
Orders | BroCommerce Admin
{% endblock title %}

{% block content %}
<div x-data="setup()" :class="{ 'dark': isDark }">
    <div
        class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
        <!-- Header -->
        {% include 'shopadmin/header.html' %}
        <!-- Sidebar -->
        {% include 'shopadmin/sidebar.html' %}

        <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
            <div class="grid grid-cols-1 lg:grid-cols-1 p-4 gap-4">
                <form method="get" class="sorting-form flex items-center justify-end mx-10">
                    <label for="sort" class="mr-2">Sort by:</label>
                    <div class="relative">
                        <select name="sort" id="sort" onchange="this.form.submit()"  id="orders" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="default" {% if sort_param == 'default' %}selected{% endif %}>Default</option>
                            <option value="paid" {% if sort_param == 'paid' %}selected{% endif %}>Paid</option>
                            <option value="pending" {% if sort_param == 'pending' %}selected{% endif %}>Pending</option>
                            <option value="cancelled" {% if sort_param == 'cancelled' %}selected{% endif %}>Cancelled</option>
                            <option value="returned" {% if sort_param == 'returned' %}selected{% endif %}>Returned</option>
                        </select>
                    </div>
                </form>

                <!-- Orders Table -->
                <div class="mt-4 mx-4">
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <div class="flex flex-wrap px-4 py-2 bg-gray-200 dark:bg-gray-900">
                                <div class="relative w-full max-w-full flex-grow flex-1">
                                    <h3 class="font-semibold text-base text-2xl text-gray-800 dark:text-white">Orders</h3>
                                </div>
                            </div>
                            <table class="w-full">
                                <thead>
                                    <tr
                                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3">Order No.</th>
                                        <th class="px-4 py-3">Customer</th>
                                        <th class="px-4 py-3">Amount</th>
                                        <th class="px-4 py-3">Method</th>
                                        <th class="px-4 py-3">Order Status</th>
                                        <th class="px-4 py-3">Delivery Status</th>
                                        <th class="px-4 py-3">Date</th>
                                        <th class="px-4 py-3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    
                                    {% for order in orders %}
                                    <tr
                                        class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3 text-sm">{{ order.order_key }}</td>
                                        <td class="px-4 py-3">
                                            <div class="flex items-center text-sm">
                                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                                    <img class="object-cover w-full h-full rounded-full"
                                                    src="{{ order.user.profile.url }}"
                                                    alt="User Profile" loading="lazy" />
                                                    <div class="absolute inset-0 rounded-full shadow-inner"
                                                    aria-hidden="true"></div>
                                                </div>
                                                <div>
                                                    <p class="font-semibold">{{ order.user.name }}</p>
                                                    <p class="text-xs text-gray-600 dark:text-gray-400">{{ order.user.email }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-4 py-3 text-sm">$ {{ order.total_paid }}</td>
                                        <td class="px-4 py-3 text-sm">{{ order.payment_option|upper }}</td>

                                        {% if order.order_status == 'Paid' %}
                                        <td class="px-4 py-3 text-xs">
                                            <span
                                                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                                {{ order.order_status }} </span>
                                        </td>
                                        {% elif order.order_status == 'Cancelled' %}
                                        <td class="px-4 py-3 text-xs">
                                            <span
                                                class="px-2 py-1 font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full dark:bg-yellow-700 dark:text-yellow-100">
                                                {{ order.order_status }} </span>
                                        </td>
                                        {% elif  order.order_status == 'Returned' %}
                                        <td class="px-4 py-3 text-xs">
                                            <span
                                                class="px-2 py-1 font-semibold leading-tight text-indigo-700 bg-indigo-100 rounded-full dark:bg-indigo-700 dark:text-indigo-100">
                                                {{ order.order_status }} </span>
                                        </td>
                                        {% else %}
                                        <td class="px-4 py-3 text-xs">
                                            <span
                                                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100">
                                                {{ order.order_status }} </span>
                                        </td>
                                        {% endif %}

                                        {% if order.delivery_status == 'Completed' %}
                                        <td class="px-1 py-4">
                                            <span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{ order.delivery_status }}</span>
                                        </td>
                                        {% elif order.delivery_status == 'Rejected' %}
                                        <td class="px-1 py-4">
                                            <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{ order.delivery_status }}</span>
                                        </td>
                                        {% elif order.delivery_status == 'Shipped' or order.delivery_status == 'Delivered' %}
                                        <td class="px-1 py-4">
                                            <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">{{ order.delivery_status }}</span>
                                        </td>
                                        {% else %}
                                        <td class="px-1 py-4">
                                            <span class="bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">{{ order.delivery_status }}</span>
                                        </td>
                                        {% endif %}

                                        <td class="px-4 py-3 text-sm">{{ order.created|date:'F d, Y' }}</td>
                                        <td class="px-4 py-3 text-sm">
                                            <a href="{% url 'shopadmin:view_order_details' order.id %}" class="font-medium text-blue-600 dark:text-blue-500 mr-2 hover:underline">View</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ./Orders Table -->

                {% if orders %}   
                <nav class="flex items-center justify-between pt-4 pb-4 m-10" aria-label="Table navigation">
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing Page <span
                            class="font-semibold text-gray-900 dark:text-white">{{ orders.number }} </span> of <span
                            class="font-semibold text-gray-900 dark:text-white">{{ orders.paginator.num_pages }}</span></span>
                    <ul class="inline-flex -space-x-px text-sm h-8">
                        {% if orders.has_previous %}
                        <li>
                            <a href="?page=1"
                                class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First
                            </a>
                        </li>
                        <li>
                            <a href="?page={{ orders.previous_page_number }}"
                                class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous
                            </a>
                        </li>
                        {% endif %}
                        <!-- <li>
                            <span href="#" class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ orders.number }}</span>
                        </li> -->
                        <li>
                            <a href="#" aria-current="page"
                                class="flex items-center justify-center px-3 mx-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 rounded-full hover:text-blue-700 dark:border-gray-700 dark:bg-indigo-500  dark:text-white">{{ orders.number }}</a>
                        </li>
                        <!--- <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                        </li>
                        <li>
                            <a href="#" aria-current="page"
                                class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                        </li> -->
                        {% if orders.has_next %}
                        <li>
                            <a href="?page={{ orders.next_page_number }}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next
                            </a>
                        </li>
                        <li>
                            <a href="?page={{ orders.paginator.num_pages }}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    const setup = () => {
        const getTheme = () => {
            if (window.localStorage.getItem('dark')) {
                return JSON.parse(window.localStorage.getItem('dark'))
            }
            return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
            window.localStorage.setItem('dark', value)
        }

        return {
            loading: true,
            isDark: getTheme(),
            toggleTheme() {
                this.isDark = !this.isDark
                setTheme(this.isDark)
            },
        }
    }
</script>
{% endblock content %}