{% extends 'shopadmin/shopadmin_base.html' %}

{% load tailwind_filters %}

{% load static %}

{% block title %}
Add Category | BroCommerce Admin
{% endblock title %}

{% block content %}
<div x-data="setup()" :class="{ 'dark': isDark }">
    <div
        class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
        <!-- Header -->
        {% include 'shopadmin/header.html' %}
        <!-- Sidebar -->
        {% include 'shopadmin/sidebar.html' %}

        <div class="h-full ml-14 mt-14 mb-10 md:ml-64">

            <div class="max-w-2xl mx-auto w-full bg-white rounded p-6 mt-10 space-y-4 dark:bg-gray-300">

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="flex flex-col mt-7">
                        <button type="submit"
                            class="w-full bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-xl text-white font-semibold">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    const setup = () => {
        const getTheme = () => {
            if (window.localStorage.getItem('dark')) {
                return JSON.parse(window.localStorage.getItem('dark'))
            }
            return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
            window.localStorage.setItem('dark', value)
        }

        return {
            loading: true,
            isDark: getTheme(),
            toggleTheme() {
                this.isDark = !this.isDark
                setTheme(this.isDark)
            },
        }
    }
</script>
{% endblock content %}